{% block phone_number_widget -%}
    {% set validation_class = '' %}
    {% if valid == false %}
        {% set validation_class = ' is-invalid' %}
    {% endif %}

    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-row' ~ validation_class)|trim}) %}
    <section {{ block('widget_container_attributes') }}>
        <section class="col">
            {{- form_widget(form.country) -}}
        </section>
        <section class="col">
            {{- form_widget(form.number, {'attr': {'placeholder': attr.placeholder|default('')}}) -}}
        </section>
    </section>
{%- endblock phone_number_widget %}
